.lh-30 {
    line-height: 30px;
}

.h-32 {
    height: 32px;
}

.v-align-middle {
    vertical-align: middle !important;
}

.sidebar-left .sidebar-content .sidebar-menu ul li a.active {
    color: #0067f4;
}

/*===== BACK TO TOP =====*/
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background-color: #0067f4;
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: none; 
}

.back-to-top:hover {
    color: #fff;
    background-color: #005ad5;
}

.bg-blue {
    background-color: #0067f4;
}

.text-blue {
    color: #0067f4;
}

.fs-20 {
    font-size: 20px !important;
}



/* Toastr Start*/

.toast-success {
    background-color: #4da422 !important;
}

.toast-error {
    background-color: #fc3832 !important;
}

.toast-info {
    background-color: #00b8d8 !important;
}

.toast-warning {
    background-color: #ffb400 !important;
}

#toast-container > div {
    opacity: 1;
}

.toast ul.multiple {
    list-style-type: disc;
    margin-left: 1rem;
}

/* Toastr End */



/* Dashboard */
.portfolio-menu-3 li:nth-child(1) {
    margin-left: 0 !important;
}

.portfolio-menu-3 li:nth-last-child(1) {
    margin-right: 0 !important;
}

.portfolio-menu-3 ul li.active {
    border: 1px solid #dee2e6!important;
    border-color: #007bff!important;
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
}

    /* Jasny File Upload - Material Kit */
    .file-click.sm-btn {
        line-height: 36px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
        display: none !important;
    }

    .fileinput .thumbnail {
        max-width: none !important;
    }

    .danger-buttons .fileinput-exists.danger-two {
        color: #fff !important;
        background-color: #fc3832 !important;
        border-color: #fc3832 !important;
    }

    .danger-buttons .fileinput-exists.danger-two.hoverable:hover {
        color: #fc3832 !important;
        background-color: transparent !important;
    }

    .success-buttons .fileinput-exists.success-two {
        color: #fff !important;
        background-color: #4da422 !important;
        border-color: #4da422 !important;
    }

    .success-buttons .fileinput-exists.success-two.hoverable:hover {
        color: #4da422 !important;
        background-color: transparent !important;
    }

    .light-rounded-buttons .fileinput-exists.light-rounded-two {
        color: #fff !important;
        background-color: #0067f4 !important;
        border-color: #0067f4 !important;
    }

    .light-rounded-buttons .fileinput-exists.light-rounded-two.hoverable:hover {
        color: #0067f4 !important;
        background-color: transparent !important;
    }

    .fileinput-exists.disabled {
        opacity: 0.65;
        cursor: default;
    }
    

    /* Jasny File Upload - Material Kit */


input.edit, .nice-select.edit {
    padding-right: 65px !important;
}

input:read-only, .nice-select.disabled {
    background-color: rgba(164, 164, 164, 0.3) !important;
    cursor: default !important;
}

    /* Nice Select */

    .custom-dropdown .input-items .nice-select {
        width: 100%;
        height: 44px;
        border: 2px solid;
        border-color: #a4a4a4 !important;
        color: #6c6c6c !important;
        font-size: 16px !important;
        padding-left: 12px !important;
    }

    .custom-dropdown .input-items .nice-select:focus {
        border-color: #0067f4 !important;
    }

    .custom-dropdown .input-items .nice-select.disabled, .custom-dropdown .input-items .nice-select.edit {
        border-color: #0067f4 !important;
        color: #121212 !important;
    }

    .custom-dropdown .input-items .nice-select-search-box input, .custom-dropdown .input-items li  {
        /* width: 100%; */
        border-color: #a4a4a4;
        color: #6c6c6c;
        font-size: 14px !important;
        margin: 0 !important;
    }

    .custom-dropdown .input-items .nice-select::after {
        width: 8px;
        height: 8px;
        margin-right: 0.25rem;
    }

    .custom-dropdown .input-items .nice-select.bank::after {
        margin-right: 2rem;
    }

    .custom-dropdown .input-items .nice-select.edit::after {
        width: 8px;
        height: 8px;
        margin-right: 3.5rem;
    }

    .nice-select li.option, .nice-select .current {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }

    .nice-select ul.list {
        width: 100% !important;
    }


    select.required {
        display: block !important;
		margin: 0;
		border: 0;
		padding: 0;
		height: 1px;
		opacity: 0;
		position: relative;
		/* Top should be the same as the height of your */
		/* unfocused, nice select replacement element! */
		top: 44px;
    }


    /* Nice Select */


.xs-btn {
    line-height: 20px !important;
    font-size: 12px;
    padding-left: 14px;
    padding-right: 14px;
}

.text-none {
    text-transform: none;
}


.txn_details.table-style .table .table-thead tr th {
    min-width: unset;
}

/* .txn_details.table-style.style-two .table .table-tbody tr {
    border-bottom: 1px solid #cbced1;
}

.txn_details.table-style.style-two .table .table-tbody tr td {
    border-left: 0;
    border-right: 0;
} */

/* Horizontal Definition List */

dl.dl-horizontal {
    display: table;
    /* min-width: 400px; */
    /* width:auto; */
    /* width:fit-content; */
    width: 100%;
}

dl.dl-horizontal dt, dl.dl-horizontal dd {
    width: auto;
    overflow: visible;
    white-space: nowrap;
}

dl.dl-horizontal dt {
    display: table-cell;
    padding-right: 1rem;
    /* text-align: right; */
    text-align:left;
    /* white-space: nowrap; */
    font-weight: 500;
    /* padding: 0 0; */
    /* background: gold; */
}

dl.dl-horizontal dd {
    display: table-cell;
    padding-left: 1rem;
    text-align: right;
    /* background: silver; */
}

dl.dl-horizontal dd.line-break {
    display: table-row;
}

/* Horizontal Definition List */

.w-1 {
    width: 1%;
}

.nowrap {
    white-space: nowrap;
}

.txn_details.accordion-style-one .accordion .card .card-header a::before {
    top: unset;
    right: 0px;
}

.txn_details.accordion-style-one .accordion .card {
    border: 0 !important;
}


/* .txt_action.light-rounded-buttons .light-rounded-two:hover i {
    -webkit-animation: iconTranslateY 0.5s forwards;
    -moz-animation: iconTranslateY 0.5s forwards;
    -o-animation: iconTranslateY 0.5s forwards;
    animation: iconTranslateY 0.5s forwards; 
} */



    /* Wallet Cards */

    .wallet.card-style-one .card-content {
        position: relative;
        /* padding-left: 0;
        padding-right: 0; */
    }

    .wallet.card-style-one.wallet .card-content .card-icon {
        position: absolute;
        top: 0.25rem;
        right: 1rem;
    }

    .wallet.card-style-one .card-content .card-icon i {
        width: 40px;
        height: 40px;
    }

    /* Wallet Cards End */


/* Dashboard End */


.hidden {
    display: none;
}


/* Rotating Line Icons */

.lni-rotate-45 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
}

.lni-rotate-180 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
}

.lni-flipped {
    transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
}
/* Rotating Line Icons End */

/*  */

.field-border {
    border: 2px solid #a4a4a4 !important;
    border-radius: 5px !important;
}


/* Disabled Buttons */

.light-rounded-buttons.disabled:hover {
    cursor: default !important;
}

.light-rounded-two.disabled:hover {
    color: #fff !important;
    background-color: #0067f4 !important;
    border-color: #0067f4 !important;
    cursor: default;
}

.success-two.disabled:hover {
    color: #fff !important;
    background-color: #4da422 !important;
    border-color: #4da422 !important;
    cursor: default;
}

.qr-preview img {
    padding: 12px !important;
}

.no-icon.form-style-two .form-input .input-items input, .no-icon.form-style-two .form-input .input-items textarea {
    padding-right: 12px !important;
}
